In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
ads = pd.read_csv('amazon_combined_scrapped_data.csv')
ads.describe()

              ad
count    2881441
unique   2325378
top     \n    \n
freq        2823

In [3]:
ads.dropna()

                                                        ad
0                           DL380 Gen10 4112 1P 16G 8LFF S
1        Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...
2        QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...
3           HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)
4        SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...
...                                                    ...
2881439        DAKINE Women's Continental Mitt (S - Black)
2881440                    Dakine Women's Continental Mitt
2881441             Womens Dakine Gilrs Over/Under Luggage
2881442       Dakine Gore-Tex Continental Mitten - Women's
2881443  DAKINE Women's Continental Gore-Tex Mitt (L - ...

[2881441 rows x 1 columns]

In [6]:
ads_unique = pd.DataFrame(ads['ad'].unique(), columns = ['ad'])
ads_unique.describe()

                                                       ad
count                                             2325378
unique                                            2325378
top     Pansies Flowers Floral Porch Ceiling Ceiling F...
freq                                                    1

In [7]:
ads_unique.tail()

                                                        ad
2325374             Seirus Innovation Women's Sequel Glove
2325375        DAKINE Women's Continental Mitt (S - Black)
2325376                    Dakine Women's Continental Mitt
2325377       Dakine Gore-Tex Continental Mitten - Women's
2325378  DAKINE Women's Continental Gore-Tex Mitt (L - ...

## Text preprocessing

In [19]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/paulmospan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/paulmospan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
import string
def text_process(text):
    '''
    1. Removing all punct
    2. Removing all stopwords
    3. Return the cleaned text as a list of words
    4. Removing words
    '''
    stemmer = WordNetLemmatizer()
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join([i for i in nopunc if not i.isdigit()])
    nopunc = [word.lower() for word in nopunc.split() if word not in stopwords.words('english')]
    return [stemmer.lemmatize(word) for word in nopunc]

In [24]:
# testing
sample = 'import pandas as pd import seaborn as sns import matplotlib as plt %matplotlib inline'
print(text_process(sample))

['import', 'panda', 'pd', 'import', 'seaborn', 'sn', 'import', 'matplotlib', 'plt', 'matplotlib', 'inline']

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer=text_process, ngram_range=(1,3)).fit(ads_unique['ad'])

ValueError: np.nan is an invalid document, expected byte or unicode string.